{% extends 'usuarios/base.html'%}

{% load meus_filtros %}
{% load static %}

{% block conteudo %}


<link rel="stylesheet" href="{% static 'css/radio_select.css' %}">
<link rel="stylesheet" href="{% static 'css/formulario.css' %}">


<body>
    <main class="container formulario-container">
        
        <form method="post" action="{% if editar %}{% url 'editar_usuarios' usuario_id %}{% else %}{% url 'cadastrar_usuarios' %}?origem=cadastrar{% endif %}" class="novalidate">
            
            {% csrf_token %}
            <br>

            <div class="form-group">
                <label>Tipo de Categoria:</label>
            </div>

            <div class="form-group" id="cliente_categoria">
                {% for radio in form.cliente_categoria %}
                    {{ radio.tag }} {{ radio.choice_label }}
                {% endfor %}
            </div>

            <div class="form-group">
                {{ form.tipo_cliente.errors }}
                <label for="id_tipo_cliente">Tipo de Cliente:</label>
                {{ form.tipo_cliente }}
            </div>

            <div class="all-info hidden form-control">
                {{ form.cliente_cpf_cnpj.errors }}
                <label for="id_cliente_cpf_cnpj" name="cliente_cpf_cnpj">CPF/CNPJ: </label>
                
                {% if not editar %}
                    <input id="cpfcnpj" type="text" placeholder="digite o CPF ou CNPJ" name="{{ form.cliente_cpf_cnpj.name }}" value="{{ form.cliente_cpf_cnpj.value|default:'' }}" class="form-control visible-cpfcnpj">
                {% else %}
                    <input type="text" name="{{ form.cliente_cpf_cnpj.name }}" value="{{ form.cliente_cpf_cnpj.value }}" readonly>
                {% endif %}
                
                {{ form.cliente_nome.errors }}
                <label for="id_cliente_nome">Nome: </label>
                {{ form.cliente_nome|addclass:'form-control' }}
            </div>
            
            <div class="all-info hidden form-control">
                {{ form.cliente_email.errors }}
                <label>E-mail:</label>
                {{ form.cliente_email|addclass:'form-control' }}
            </div>

            <div class="all-info hidden form-control">
                {{ form.cliente_telefone.errors }}
                <label>Telefone:</label>
                {{ form.cliente_telefone|addclass:'form-control' }}
            </div>

            <div class="all-info hidden form-control">
                <label>Outro (opcional):</label>
                {{ form.cliente_telefone2|addclass:'form-control' }}
            </div>
            
            <div class="all-info hidden form-control">
                {{ form.cliente_cep.errors }}
                <label>CEP:</label>
                {{ form.cliente_cep|addclass:'form-control' }}
            </div>

            <div class="all-info hidden form-control">
                <label>Rua:</label>
                {{ form.cliente_rua|addclass:'form-control' }}
            </div>

            <div class="all-info hidden form-control">
                <label>Bairro:</label>
                {{ form.cliente_bairro|addclass:'form-control' }}
            </div>

            <div class="all-info hidden form-control">
                <label>Cidade:</label>
                {{ form.cliente_cidade|addclass:'form-control' }}
            </div>

            <div class="all-info hidden form-control">
                <label>Estado:</label>
                {{ form.cliente_estado|addclass:'form-control' }}
            </div>

            <div class="all-info hidden form-control">
                <label>Número:</label>
                {{ form.cliente_numero_casa|addclass:'form-control' }}
            </div>

            <div class="all-info hidden form-control">
                <label>Complemento (opcional):</label>
                {{ form.cliente_complemento|addclass:'form-control' }}
            </div>

            <div>
                <input type="submit" value="Cadastrar" class="btn reg-button">
                <button onclick="backButton()" class="btn back-button"><a>Voltar</a></button>
            </div>
        </form>
    </main>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/imask"></script>
    <script src="{% static 'js/tipo_cliente.js' %}"> </script>
    <script src="{% static 'js/exibir_endereco.js' %}"> </script>
    <script src="{% static 'js/back_button.js' %}"></script>
    <script src="{% static 'js/only_numbers.js' %}"></script>
    
        <script>
                var inputElement = document.getElementById('cpfcnpj');
                var visibleInput = document.querySelector('.visible-cpfcnpj');  // Certifique-se de que esta classe esteja correta
                var inputValue = visibleInput.value.trim().replace(/[^\d]/g, '');


                if (inputElement && visibleInput) {
                    // Recupere a máscara anterior
                    var maskCpfOuCnpj = IMask(visibleInput, {
                        mask: [
                            {
                                mask: '000.000.000-00',
                                maxLength: 11
                            },
                            {
                                mask: '00.000.000/0000-00'
                            }
                        ],
                        // Defina o comportamento para manter o valor do campo sem a máscara
                        prepare: function (str) {
                            return str.replace(/[^0-9]+/g, '');
                        }
                    });

                    // Adicione o evento de input ao campo visível
                    visibleInput.addEventListener('input', function () {
                        var inputValue = visibleInput.value.replace(/[^\d]/g, '');  // Remova caracteres não numéricos
                        maskCpfOuCnpj.updateValue(inputValue);  // Atualize o valor com a nova entrada
                    });

                    // Sincronize a máscara quando o campo visível receber o foco
                    visibleInput.addEventListener('focus', function () {
                        maskCpfOuCnpj.updateValue();
                    });

                    // Sincronize a máscara quando o campo oculto receber o foco
                    inputElement.addEventListener('focus', function () {
                        maskCpfOuCnpj.updateValue();
                    });

                    // Sincronize a máscara antes do envio do formulário
                    document.querySelector('form').addEventListener('submit', function () {
                        maskCpfOuCnpj.destroy(); 
                    });
                }
    </script>

</body>

{% endblock %}
