{% extends 'usuarios/base.html' %}
{% load static %}
{% load meus_filtros %}
{% block conteudo %}
<link rel="stylesheet" href="{% static 'css/buttons.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="{% static 'js/excluir_cliente.js' %}"></script>

<body>
    <div class="card">
        <div class="card-header">
            Dados do Cliente
        </div>
        <div class="card-body">
            <h5 class="card-title">Tipo de Cliente: {{ usuarios_id.tipo_cliente|tipo_cliente_extenso }}</h5>
            <h5 class="card-title">CPF/CNPJ: {{usuarios_id.cliente_cpf_cnpj}}</h5>
            <h5 class="card-title">Nome: {{usuarios_id.cliente_nome}}</h5>
            <h5 class="card-title">E-mail: {{usuarios_id.cliente_email}}</h5>
            <h5 class="card-title">Telefone: {{usuarios_id.cliente_telefone}}</h5>
            <h5 class="card-title">Outro: {{usuarios_id.cliente_telefone2}}</h5>
            <h5 class="card-title">Rua: {{usuarios_id.cliente_rua}}</h5>
            <h5 class="card-title">Bairro: {{usuarios_id.cliente_bairro}}</h5>
            <h5 class="card-title">Cidade: {{usuarios_id.cliente_cidade}}</h5>
            <h5 class="card-title">Estado: {{usuarios_id.cliente_estado}}</h5>
            <h5 class="card-title">Número: {{usuarios_id.cliente_numero_casa}}</h5>
            <h5 class="card-title">Complemento: {{usuarios_id.cliente_complemento}}</h5>
            <h5 class="card-title">CEP: {{usuarios_id.cliente_cep}}</h5>
            <h5 class="card-title">Cadastrado em: {{usuarios_id.cliente_data_registro}}</h5>
        </div>
       
    <form method="post" action="{% url 'excluir_usuarios' usuarios_id.id %}" style="display:inline;">
                    {% csrf_token %}
                    <a href="{% url 'editar_usuarios' usuarios_id.id %}" class="btn edit-button">Editar</a>
                     <!-- Botão de Excluir com Modal -->
                    <button type="button" class="btn remove-button" data-toggle="modal" data-target="#confirmacaoModal">Excluir</button>
                    <a href="{% url 'listar_usuarios' %}" class="btn back-button">Voltar</a>

                    <!-- Modal de Confirmação de Exclusão -->
                    <div class="modal fade" id="confirmacaoModal" tabindex="-1" role="dialog" aria-labelledby="confirmacaoModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="confirmacaoModalLabel">Confirmar Exclusão</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Tem certeza que deseja excluir este cliente?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                        <button type="button" class="btn btn-danger" onclick="excluirCliente()">Excluir</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </form>
    </div>

   
    
</body>

{% endblock %}